<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Board Detail</title>
</head>

<body>
    {% block content %}
    <div class="container">
        <h2>게시글 내용</h2>
        <div class="form-group">
            <label for="title">제목</label>
            <textarea class="form-control" readonly style="width: 50%; height: 30px;">
                    {{board.title}}
                </textarea>
            <label style="margin-top:2rem">내용</label>
            <textarea class="form-control" rows="7" readonly style=" width:70%">
                    {{board.body}}
                </textarea>
            <label style="margin-top:2rem">작성시간</label>
            <textarea class="form-control" readonly style="width: 30%; height: 30px;">
                    {{board.created_at|date:'Y-m-d H:i'}}
                </textarea>
            <label style="margin-top:2rem">수정시간</label>
            <textarea class="form-control" readonly style="width: 30%; height: 30px;">
                    {{board.updated_at|date:'Y-m-d H:i'}}
                </textarea>
        </div>
    </div>

    <div class="container">
        <h3>댓글</h3>
        <div class="form-group" style="margin-top:1em">
            {%if board.comment_set.all %}
                {%for me in board.comment_set.all %}
                    <span class="reply" style="margin-top:3px">{{ me.message }} : {{ me.created_at|date:'Y-m-d H:i'}}</span>
                    <button style="margin-left: 3rem;">del</button>
                    <br>
                {% endfor %}
            {%else%}
            댓글이 없습니다
            {%endif%}
        </div>
        
        <form action="{% url 'board:comment' board.id %}" method='post'>
            {% csrf_token %}
            <div class="form-group">
                <label for="title">댓글 쓰기</label>
                <input type="text" class="form-control" id="message" name="message" maxlength="100" required="required">
            </div>
            <button type="submit" class="btn btn-default">등록</button>
        </form>
    </div>

    {% endblock %}
</body>

</html>